body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/135/905/non_2x/free-jewel-vector-background.jpg");
    background-size: cover;
}

.jumbotron {
background:linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}
h1{
    font-family: 'Modak', cursive;
    font-weight: bold;
}

.lead, p {
    font-family: 'Architects Daughter', cursive;
    font-size: 27px;

}
img.crystal-pink  {
    width: 150px;
    position: relative;
    bottom: 217px;
}
img.crystal-purple {
    width: 150px;
    position: relative;
    bottom: 217px;
}
img.crystal-blue {
    width: 150px;
    position: relative;
    bottom: 363px; 
    left: 464px; 
}
img.crystal-magenta {
    width: 150px;
    position: relative;
    bottom: 217px;
}

.fa-gem:before {
    margin-right: 4px;
}


#targetscore {
    height: 250px;
    width: 241px;
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
    text-align: center;
}

#scorebox {
    height: 250px;
    width: 241px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    text-align: center;
}
#selectors {
    height: 250px;
    width: 680px;
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    text-align: center;
}

#wins {
    height: 250px;
    width: 241px;
    background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
    text-align: center;
    margin-top: 40px;
}

#losses {
    height: 250px;
    width: 241px;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    text-align: center;
    margin-top: 40px;
}