body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/135/905/non_2x/free-jewel-vector-background.jpg");
    background-size: cover;
}

.jumbotron {
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}

h1 {
    font-family: 'Modak', cursive;
    text-align: center;
}

/* =============================game section container========================= */
.container container-game {
    height: 600px;
}

.lead, p {
    font-family: 'Architects Daughter', cursive;
    font-size: 27px;
}

.fa-gem:before {
    margin-right: 4px;
}

/* ======================crystal images=========================================== */
img {
    height: 150px;
    width: 150px;
    position: relative;
    display: inline-block;
}

.btn:not(:disabled):not(.disabled) {
    margin-right: -22px;
}

h1.target{
    font-size: 30px;
}

/* =================background color for  card body =========================*/
.card-body{
background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
text-align: center;
}

/* =================background color for card header===========================*/
.card-header {
background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);

}

/* =====================crystal selector button style=========================== */
.btn-light{
    background-color: transparent;
    border:none;
    outline-style:none;
}
 .btn-light:hover{
     background-color: transparent;
 }
 
/* end of selector style */

/* ===========================target score===================================== */
#targetscore {
    text-align: center;
    font-size: 80px;
    font-family: 'Modak', cursive;
}
/*============================= user score==================================== */
#userscore {
    text-align: center;
    font-size: 80px;
    font-family: 'Modak', cursive;
}

/* ===========================crystal selectors======================================= */
#selectors {
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    text-align: center;
   position: absolute;
}
/* ===============================wins count============================================ */
#wins {
    text-align: center;
    font-size: 80px;
    font-family: 'Modak', cursive;
}
/* ================================Losses count============================================= */
#losses {
    /* height: 250px;
    width: 241px;
    position: relative;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%); */
    text-align: center;
    /* margin-top: 40px; */
    font-size: 80px;
    /* padding-top: 33px; */
    font-family: 'Modak', cursive;
    /* margin-left: 50px;
    margin-top: 9px; */
}










